.benefits-content__list {
  @include tab {
    display: flex;
    flex-wrap: wrap;

    @include desk {
      flex-wrap: nowrap;
    }
  }
}

.benefits-content__block {
  @include tab {
    width: calc((100% - 2 * 15px) / 2);
    &:nth-child(2n + 1) {
      @include tab {
        margin-right: 30px;
      }
    }
  }

  @include desk {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
}

.benefits-content__link {
  display: flex;
  max-width: 450px;
  padding: 25px 0 25px;
  background-color: #f5f4fa;

  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;

  @include mob {
    margin-left: auto;
    margin-right: auto;
  }

  @include tab {
    // margin-top: 30px;
    width: 354px;
  }

  @include desk {
    max-width: 270px;
    margin: 0;
  }
}

.benefits-text__item,
h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);

  margin-bottom: 10px;
  align-items: center;
  text-align: center;

  @include tab {
    text-align: left;
  }

  @include desk {
    max-width: 270px;
    margin-top: 30px;
  }
}

.benefits-text__paragraph {
  max-width: 450px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-transform: none;
  font-weight: 400;

  &:nth-last-child(-n + 3) {
    @include tab {
      margin-bottom: 0px;
    }
  }

  @include tab {
    text-align: left;
  }

  @include desk {
    max-width: 270px;
  }
}
