.clients-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-title {
  padding-bottom: 50px;
}

.clients-content__list {
  display: flex;
  justify-self: center;
}

.clients-content__item + .clients-content__item {
  margin-left: 30px;
}

.clients-content__link {
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    fill: #2196f3;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.clients-content__icon {
  color: currentColor;
}
