.footer {
  background-color: #2f303a;

  @include desk {
    padding-bottom: 60px;
  }
}

.footer-content {
  @include tab {
    display: flex;
    margin-left: 76px;
  }
  @include desk {
    margin-left: 0;
  }
}

.footer-container {
  @include desk {
    display: flex;
  }
}

.footer-left {
  text-align: center;
  align-items: center;
  padding-top: 60px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo__start {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-logo__finish {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: white;
}

.footer-adress__item {
  margin-bottom: 8px;

  &:nth-child(3n) {
    margin-bottom: 0;
  }
}

.footer-adress__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #ffffff;
  }
}

.footer-adress__mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  &:hover,
  &:focus {
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-adress__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  &:hover,
  &:focus {
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-right {
  text-align: center;
  align-items: center;
  margin-top: 65px;

  @include tab {
    margin-left: 165px;
  }

  @include desk {
    margin-left: 70px;

    @include desk {
      margin-top: 72px;
    }
  }
}

.title-footer-right {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link {
  margin-top: 20px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-social__icon {
  fill: currentColor;
}

.footer-elements {
  display: inline;
  text-align: center;
  align-items: center;

  @include desk {
    text-align: left;
    padding-top: 72px;
    margin-left: 93px;
  }
}

.footer-elements__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  margin-top: 60px;
  margin-bottom: 20px;

  @include desk {
    margin-top: 0;
  }
}

::placeholder {
  padding-left: 16px;
}

.footer-form__content {
  // position: relative;
  // display: inline;
  text-align: center;
  align-items: center;
  justify-content: center;

  @include desk {
    display: flex;
    justify-content: center;
  }
}

.footer-form__input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @include desk {
    width: 358px;
    // margin-left: 93px;
    margin-right: 12px;
  }
}

.footer-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: #ffffff;

  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  @media screen and (max-width: 1200px) {
    margin-top: 20px;
    margin-bottom: 65px;
  }
}

.footer-form__send {
  // // position: absolute;
  // left: 29px;
  // top: 10px;
}

.footer-form__icon {
  margin-left: 10px;
  fill: #ffffff;

  // position: absolute;
  // right: 15.19%;
  // top: 50%;
  // transform: translateY(-50%);
}
