.header {
  border-bottom: 1px solid #ececec;
}

.header-nav,
.page-list {
  display: flex;
  align-items: center;
}

.header__logo-start {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__logo-finish {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.page-list__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.page-list__link {
  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.page-list__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0px;
  }
}

.header-contact-icon {
  margin-left: 305px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list__mail {
  margin-right: 30px;
}

.contact-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  fill: var(--text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact-list__envelope,
.contact-list__smartphone {
  fill: currentColor;
  margin-right: 10px;
}
